@media only screen and (max-device-width: 900px) {
    .menu { width: 50%;
        background-color: #cccccc;
        background: linear-gradient(to  bottom, rgba(0,0,0,0), #151515), url('../Imagens/Storr.jpg');
        margin-bottom: 20%;
        margin-top: 20%;
        margin-right: 25%;
        margin-left: 25%;
    }

}


body{
    background-color: #cccccc;
    background: linear-gradient(to  bottom, rgba(0,0,0,0), #151515), url('../Imagens/Storr.jpg');
    width: 100%;
    margin-bottom: 10%;
    margin-top: 10%;
}

.logo{
    width:"40%";
    overflow: hidden;
}

.logo img{
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
.logo:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


#nomelogo{
    text-decoration: underline overline;
    color: black;
}


#formulario{
    opacity: 0.9;
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    text-align: center;
    margin-top: 3%;
    padding-top: 3%;
    border-radius: 5%;
    border-color: black;
    border-style: solid;
}


.fa-eye{
    float: right;
    cursor: pointer;
    color: #808080;
}
